<div class="mt-5 p-5">
  <form action="/restaurants/{{resturant._id}}/edit" method="POST">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">name</label>
      <input type="text" class="form-control" id="exampleInputName" name="name" value="{{resturant.name}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputname_en" class="form-label">name_en</label>
      <input type="text" class="form-control" id="exampleInputname_en" name="name_en" value="{{resturant.name_en}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputCategorye" class="form-label">category</label>
      <input type="text" class="form-control" id="exampleInputName" name="category" value="{{resturant.category}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputimage" class="form-label">image</label>
      <input type="text" class="form-control" id="exampleInputimage" name="image" value="{{resturant.image}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputlocation" class="form-label">location</label>
      <input type="text" class="form-control" id="exampleInputlocation" name="location" value="{{resturant.location}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputphone" class="form-label">phone</label>
      <input type="text" class="form-control" id="exampleInputphone" name="phone" value="{{resturant.phone}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputgoogle_map" class="form-label">google_map</label>
      <input type="text" class="form-control" id="exampleInputgoogle_map" name="google_map"
        value="{{resturant.google_map}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputrating" class="form-label">rating</label>
      <input type="text" class="form-control" id="exampleInputrating" name="rating" value="{{resturant.rating}}">
    </div>
    <div class="mb-3">
      <label for="exampleInputdescription" class="form-label">description</label>
      <input type="text" class="form-control" id="exampleInputdescription" name="description"
        value="{{resturant.description}}">
    </div>
    <button type="submit" class="btn btn-primary">edit resturant</button>
    <a class="btn btn-outline-success" href="/restaurants/{{resturant._id}}" role="button">Back</a>
  </form>
</div>